# Product Service Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cluster_iac
DB_SSLMODE=disable
SERVER_PORT=8080

# Basket Service Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
BASKET_SERVER_PORT=8081
PRODUCT_GRPC_ADDR=localhost:50051

# API Gateway Configuration
PRODUCT_SERVICE_URL=http://localhost:8080
BASKET_SERVICE_URL=http://localhost:8081
GATEWAY_PORT=8082
